/*
classes: .class{}
ids: #{}
classic elts: body{}
*/
@font-face {
    font-family: "CustomFont";
    src: url("CustomFont.eot");
    src: url("CustomFont.woff") format("woff"),
    
}

body {
    font-family: 'Roboto';
     
}

/*.linkColor {
    color: black;
} */
  
.container-a {
    background: #3D5F73;
}

.container-b {
    background: rgb(220, 220, 220)
}

.initImage {
    max-height: 400px;
}
.custom-range::-webkit-slider-thumb {
    background: rgb(77, 77, 77);
}

#underline:hover {
    text-decoration: underline;
}

#iconbutton {
    color: #9D9C9E; 
}

#iconbutton:hover {
    color: #ABAEAB; 
}
