/*
classes: .class{}
ids: #{}
classic elts: body{}
*/

.container-a {
    background: #3D5F73;
}

.container-b {
    background: rgb(220, 220, 220)
}

.initImage {
    max-height: 400px;
}
.custom-range::-webkit-slider-thumb {
    background: rgb(77, 77, 77);
}

#underline:hover {
    text-decoration: underline;
}
